body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
strong {
    font-weight: 700;
}
.color1,
.column1 .title h2,
.column1 .title .author,
.column1 .content h3,
.column1 .content p strong,
.column1 .content p .firstLetter {
    color: #794a9b !important;
}
.color2,
.column2 .title h2,
.column2 .title .author,
.column2 .content h3,
.column2 .content p strong,
.column2 .content p .firstLetter {
    color: #003186 !important;
}
.color3,
.column3 .title h2,
.column3 .title .author,
.column3 .content h3,
.column3 .content p strong,
.column3 .content p .firstLetter {
    color: #0073ce !important;
}
.color4,
.column4 .title h2,
.column4 .title .author,
.column4 .content h3,
.column4 .content p strong,
.column4 .content p .firstLetter {
    color: #f4941e !important;
}
.color5,
.column5 .title h2,
.column5 .title .author,
.column5 .content h3,
.column5 .content p strong,
.column5 .content p .firstLetter {
    color: #d34b3d !important;
}
.color6,
.column6 .title h2,
.column6 .title .author,
.column6 .content h3,
.column6 .content p strong,
.column6 .content p .firstLetter {
    color: #66bd50 !important;
}
.main_wrapper {
    padding: 50px 0;
}

.main_wrapper .container {
    max-width: 952px;
}

.left_logo {
    border-right: 2px solid #99989b;
    padding-right: 20px;
    margin-right: 20px;
}

header.header {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #99989b;
    padding-bottom: 20px;
    margin-bottom: 15px;
}

header.header .main_logo {
    border-right: 2px solid #ccc;
    padding-right: 20px;
    margin-right: 20px;
}
header.header .client_logo img {
    max-height: 45px;
}
button.printBtn {
    background: none;
    border: 1px solid #ebebeb;
    border-radius: 6px;
    margin-left: auto;
    width: 36px;
    height: 34px;
    opacity: 0.6;
}
button.printBtn:hover {
    opacity: 1;
}
button.printBtn img {
    width: 20px;
}
.tabArea {
    border-bottom: 2px solid #99989b;
    padding-bottom: 15px;
}
.tabArea a {
    position: relative;
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
    margin-right: 20px;
    padding: 6px 0;
    display: inline-block;
}
.tabArea a::before {
    position: absolute;
    content: "";
    background: #cccccc;
    border-radius: 50%;
    right: -13px;
    top: 50%;
    width: 6px;
    height: 6px;
    transform: translateY(-50%);
}
.tabArea a:nth-child(4)::before, .tabArea a:nth-child(6)::before {
    display: none;
}
.tabArea a img {
    width: 30px;
    margin-right: 5px;
}

.textBlock {
    padding: 10px 0;
}

.column_count2 {
    column-count: 2;
    column-gap: 30px;
}

.textBlock .title {
    margin-bottom: 15px;
}
.textBlock .title .icon {
    margin-bottom: 20px;
}

.textBlock .title h2 {
    font-size: 25px;
    color: #000000;
    margin: 0;
}
.textBlock .title .author {
    margin-top: 10px;
}
.textBlock h3 {
    font-size: 20px;
    font-weight: 700;
}
.textBlock p {
    font-weight: 300;
    text-align: justify;
}
.textBlock .firstLetter {
    font-size: 3em;
    font-weight: 200;
    float: left;
    line-height: 1;
}
@media only screen and (max-width: 975px) {
    .sticky_logo img {
        width: 54px;
    }
    .tabArea a {
        font-size: 12px;
        margin-right: 16px;
    }
}
@media only screen and (max-width: 767px) {
    .main_wrapper {
        padding: 25px 0;
    }
    .sticky_logo img {
        width: 30px;
    }
    .left_logo {
        border-right: 1px solid #99989b;
        padding-right: 10px;
        margin-right: 15px;
    }
    header.header .main_logo {
        border-right: 1px solid #ccc;
        padding-right: 12px;
        margin-right: 12px;
    }
    .header .client_logo {
        margin-right: 15px;
    }
    .textBlock .title .icon img {
        max-width: 50px;
        height: auto;
    }
    .tabArea a {
        font-size: 16px;
        display: block;
    }
    .tabArea a::before {
        display: none;
    }
    .column_count2 {
        column-count: auto;
    }
    .textBlock .title h2 {
        font-size: 22px;
    }
    .textBlock h3 {
        font-size: 16px;
    }
}
@media print {
    @page {
      size: auto;
    }
    .printBtn {
        display: none;
    }
    .main_wrapper .container {
        padding: 0;
    }
    body, .tabArea a {
        font-size: 13px;
    }
    .tabArea a {
        margin-right: 12px;
        letter-spacing: -0.5px;
    }
    
    .tabArea a img {
        width: 20px;
    }
    .textBlock .title h2 {
        font-size: 20px;
    }
    .textBlock h3 {
        font-size: 16px;
    }
    .tabArea a::before {
    position: absolute;
    content: "";
    background: #cccccc;
    border-radius: 50%;
    right: -13px;
    top: 50%;
    width: 6px;
    height: 6px;
    transform: translateY(-50%);
}
.tabArea a:nth-child(4)::before, .tabArea a:nth-child(6)::before {
    display: none;
}
}